<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Login {% endblock title %}

{% block content %}
<div class="col-sm-10 ">
    {% if messages %}
    {% for message in messages %}
    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-6" {% endif %}>{{message}}</p>
    {% endfor %}
    {% endif%}
    <h1 class="text-white my-5">Login Page</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for form in forms %}
        <div class="form-group">
        {{form.label_tag}} {{form}} <small class="text-danger">{{form.errors|striptags}}</small> <br>
        </div>
        {% endfor %}
        <input type="submit" value="Login" class="btn btn-primary" name="" id=""><br><br>
        {% if forms.non_field_errors %}
        {% for error in forms.non_field_errors %}
        <p><small class="alert alert-danger my-3">{{error}}</small></p>       
        {% endfor %}
        {% endif %}
        <a href="{% url 'password_reset' %}">Forget Password?</a>
    </form>
</div>

{% endblock content %}