<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Singup {% endblock title %}

{% block content %}
<div class="col-sm-10">
    <h1 class="text-white my-5">Singup Page</h1>
    {% if messages %}
    {% for message in messages %}
    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
    {% endfor %}
    {% endif%}
    <a href="{% url 'login' %}" class="btn btn-primary">Click Here for Login</a>
</div>

{% endblock content %}